* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgb(51, 176, 84),rgb(210, 121, 53));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #b51919;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #f3f0f0;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #f4ebeb;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #f9f9f9;
}

.calculator #display {
    color: #103943;
}

.calculator button#clear {
    background-color: #386067;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #1386c4;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #c60db7;
    color: #67f967;
  }
  
  .calculator button.btn-equal {
    background-color: #0f762e;
    color: #000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #29161b;
    color: #f50a1a;
  }

  .calculator.dark button.btn-number {
    background-color: #5ca950;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #903891;
    color: #22a5cd;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #f11501;
    color: #ffffff;
  }
  